/* INÍCIO */
.inicio{
padding:40px;
background:#e3f2fd;
text-align:center;
}

.destaque{
background:linear-gradient(135deg,#8be4dc,#1976d2);
color:white;
padding:30px;
}

.destaque img{
margin-bottom:15px;
}